.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #4E47FF ;
}
.header {
  background-image: url(../Assets/Hero-bg.png);
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.primary-button{
    background-color: #4E47FF;
    color: #FfFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    font-weight: bold;
    padding: 100px 267px 152px 267.5px;
}
.div-banner{
    font-weight: bold;
    color: #252432;
     font-size: 65px;
}
.focus-btn{
    margin: 37px 365px 0px 365px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 159px 116px 141px;
}

.section-div{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
  padding: 50px 142px 60px 142px;
}
.section-div-2{
  color: rgba(37, 36, 50,.5);
  padding: 30px 0px 32px 0px;
}
.section-1-image{
 border-radius: 48px;
}
.section-2{
  background-color: rgba(78, 71, 255, .1);
  margin: 0px 159px 0px 141px;
  border-radius: 24px;
  height: 400px;
}
.section-2-div1{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
  padding-top: 50px;
}
.section-2-div{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
    margin:66.4px 0px 0px 0px;
}
.section-2-p{
   color: rgba(37, 36, 50,.5);
   font-size: 20;
}
.section-2-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-2-main2{
  display: flex;
  justify-content: space-between;
   margin: 40px 142px 142px 50px;
}
.section-2-main3{
    padding: 0px 142px 50px 142px;
  
}